/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: MyFontBold;
  src: url(../Santana/Santana-Bold.ttf);
}

header {
  display: flex;
  border-top: 0.5em solid rgba(0, 98, 65, 255);
  background-color: rgba(247, 247, 247, 255);
}

header img {
  width: 4em;
  padding: .5em;
}

header nav section {
  display: flex;
}

header nav section a:last-of-type {
  margin-left: auto;
}

header nav {
  width: 100%;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section:first-of-type {
  position: relative;
}


main section:first-of-type h1 {
  position: absolute;
  top: 5%;
  font-size: 8vw;
  color: white;
}

main section:first-of-type ul {
  top: 20%;
  font-size: 2vw;
  padding: 1em;
}


main section:first-of-type ul li {

  color: white;
  position: relative;
  width: 100%;
  padding: 2em;
}

main section:first-of-type ul li span {
  position: relative;
  right: 0;
  left: 0;
  top: -0.5em;
  color: red;
}

main section:first-of-type h1 span {
  color: red;
}

/* Voorpagina plaatje */
.index main section:first-of-type {
  background-image: url("../images/voorpaginaa.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5em;

}

/* Eerste plaatje */
main section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  background-color: rgba(229, 14, 53, 255);
}

section:nth-of-type(2) image {
  order: 1;
}

section:nth-of-type(2) h2 {
  order: 2;
}

section:nth-of-type(2) h3 {
  order: 3;
}

/* Tweede plaatje */
main section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  background-color: rgba(30, 57, 50, 255);
}

section:nth-of-type(3) image {
  order: 1;
}

section:nth-of-type(3) h2 {
  order: 2;
}

section:nth-of-type(3) h3 {
  order: 3;
}

/* Derde plaatje */
main section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  background-color: rgba(229, 14, 53, 255);
}

section:nth-of-type(4) image {
  order: 1;
}

section:nth-of-type(4) h2 {
  order: 2;
}

/* h1 eerste pagina */
h1 {
  color: white;
  font-family: MyFontBold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px black;
}

h2 {
  color: white;
  font-family: MyFontBold;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
}

h3 {
  color: white;
  font-family: MyFontBold;
  font-style: italic;
  text-align: center;
  padding: 1em;
}

h4 {
  font-family: MyFontBold;
}

/* Tekst schaduw bij unordered list voorpagina */
ul {
  text-shadow: 2px 2px black;
}

p {
  font-family: MyFontBold;
  padding: 1em;
}

/* Order van unordered list voorpagina */
section:nth-of-type(1) ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  color: white;
  font-family: MyFontBold;
  text-transform: uppercase;
  margin: 1em;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

img {
  max-width: 100%;
  padding: 1em;
}

nav {
  background-color: rgba(247, 247, 247, 255);
}


/* Button in de nav */
nav button {
  margin-right: 2em;
  border: none;
  z-index: 100;
}

/* Positioneren button en achtergrond kleur */
button {
  background-color: rgba(247, 247, 247, 255);
}

/* Hamburger content en de transformatie */
header nav section button::before {
  content: "\2630 ";
  color: rgba(0, 98, 65, 255);
  font-size: 2.5em;

}

/* Rood kruisje */
nav.toonMenu button::before {
  content: "\274C";
}

/* De lijst in het menu stijlen */
nav ul {
  margin: 0;
  padding: 4.4em;
  background: black;
  list-style: none;

  position: absolute;
  left: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: .5s;
  z-index: 99;
}

nav.toonMenu ul {
  transform: scaleY(1);
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  display: flex;
  align-items: center;
  padding: .25em 1em;
  border: none;
}


@media screen and (min-width:64em) {
  nav {
    justify-self: center;
    order: 0;
  }

  nav button {
    display: none;
  }

  nav ul {
    position: unset;
    transform: none;
    text-shadow: none;

    display: flex;

    padding: 0;
    background: none;
  }

  nav ul li a {
    color: black;
  }

}

/* Footer stylen */
footer {
  background-color: rgba(240, 240, 240, 255);

}

/* F van Facebook veranderen */
footer section:first-of-type {
  width: 3em;
}

/* Font aanpassen in summary + de margin */
summary {
  display: flex;
  font-family: MyFontBold;
  list-style: none;
  margin: 1.5em;
}

details summary:after {
  content: "ᐯ";
  margin-left: auto;

}

details[open] summary:after {
  content: "ᐱ";
}

footer details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -20px
  }

  100% {
    opacity: 1;
    margin-top: 0px
  }
}


/* Linkjes in de footer stylen */
footer a {
  font-family: MyFontBold;
  color: black;
  text-shadow: none;
  text-transform: none;
}

/* Achtergrondkleur veranderen en wat padding toevoegen */
footer section:nth-of-type(2) {
  background-color: white;
  border-top: 1px solid grey;
  padding: 1em;
}

footer details ul {
  margin: 1em;
}

/* Lijnen toevoegen tussen de tekst */
footer details {
  border-bottom: 1px solid rgba(191, 191, 191, 255);
}

footer section:nth-of-type(3) {
  display: flex;
  flex: row;
  background-color: white;
}

footer section:nth-of-type(3) img {
  width: 4em;
}

footer section:nth-of-type(4) {
  background-color: white;
}

footer section:nth-of-type(4) ul {
  padding: 1em;
}

footer section:nth-of-type(4) li {
  text-shadow: none;
  text-transform: none;
  color: black;
}

/* Tweede Pagina */
.tweedepagina h1 {
  text-shadow: none;
  color: black;
  text-align: left;
  margin: 0.5em;
  text-transform: none;
}

.tweedepagina h2 {
  color: rgba(43, 138, 20, 255);
  text-align: left;
  text-transform: none;
}

.tweedemain a:hover {
  background-color: rgba(43, 138, 20, 255);
  color: white;
  padding: 0;
  margin: 1em;
}

.tweedemain a {
  font-family: MyFontBold;
  color: rgba(43, 138, 20, 255);
  padding: 1em;
}

.tweedemain h2 a {
  padding: 0;
}

.tweedemain h2 a:hover {
  padding: 0;
  margin: 0;
}

.tweedemain p a {
  padding: 0em;
}

.tweedemain p a:hover {
  margin: 0;
}

.tweedemain section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:30em) {

  .tweedemain section {
    display: block;
  }
}

